<%- include('partials/header'); -%>
<ul class="recipes">

  <% smoothies.forEach((smoothie)=>{ %>

  <li class="recipe">
    <img src=<%= smoothie.img %> alt="smoothie">
    <h4> <%= smoothie.name %></h4>
    <p>
      <ul class="items">

        <% smoothie.ingredients.forEach((item)=>{ %>

          <li class="item">
            <%= item %>
          </li>

       <% }); %>

      </ul>

    </p>
  </li>

 <% }); %>

</ul>


<%- include('partials/footer'); -%>
